
/* Block: Call to action 
 * ------------------------------------------------------------- */

.block--call-to-action {
    text-align: center;
}

.block--call-to-action p {
    @include font-size(21);
    font-weight: 700;
    padding-bottom: var(--base);
}

.block--call-to-action .button {
    margin: 0 auto;
}


@media screen and ( min-width: 48em ) {

    .block--call-to-action p {
        max-width: 60%;
        margin: 0 auto var(--base) auto;
    }

}