
/* Block: Testimonial
 * ------------------------------------------------------------- */

@media screen and ( min-width: 48em ) {
    
    .block--testimonial {
        display: grid;
        grid-template-columns: var(--grid-columns);
        grid-column-gap: var(--grid-gap);
        align-items: center;
    }
    
    .block--testimonial blockquote { grid-column: 2 / 4; }
    
}