
/* Block: Text centered 
 * ------------------------------------------------------------- */

@media screen and ( min-width: 48em ) {
    
    .block__text-centered {
        display: grid;
        grid-template-columns: var(--grid-columns);
        grid-column-gap: var(--grid-gap);
        align-items: center;
    }
    
    .block__text-centered article { grid-column: 2 / 4; }
    
}