/**
 * -------------------------------------------------------------
 * Site settings
 * ------------------------------------------------------------- */

html {
	font-size: 62.5%;
}

body {
	clear: both;
	font-family: var(--font-body);
	@include font-size(16);
	font-weight: normal;
	line-height: 1.5;
	color: var(--col-text);
    
	width: 80%;
	max-width: 90em; /* 1440px */
	margin: 3em auto;
    overflow-x: hidden;

/*    border: 1px dashed var(--col-border);*/
}

@media screen and ( min-width: 48em ) {
    
    body { 
    	width: 90%;
        padding: 0 7.5em; 
    }
}



body > * {
	position: relative;
}


.library {
    margin-bottom: var(--between);
}

.library > h2 {
    margin: var(--between) 0;
    padding-top: var(--base);
    color: var(--col-border);
    border-bottom: none;
    border-top: 1px solid var(--col-border);
}
