
/* Images & media elements
 * ------------------------------------------------------------- */

img {
	//width: auto;
	max-width: 100%;
	height: auto; 
	
	/* Removing the annoying ghost margin you get below an image */
	display: block;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}



/* SVG
 * ------------------------------------------------------------- */

.svg__icon {
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: bottom;

    fill: var(--col-brand);

}

.svg__image {
    /*
    // Original filter -- looks a bit too bright
    filter: invert(71%) sepia(89%) saturate(5004%) hue-rotate(150deg) brightness(96%) contrast(96%);
    */
    filter: invert(71%) sepia(89%) saturate(5000%) hue-rotate(150deg) brightness(99%) contrast(70%);
}


